body{
font-family: Arial;
margin:0;
background:#eef6ff;
}

header{
background:#0077b6;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#023e8a;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#90e0ef;
}

.hero{
text-align:center;
padding:50px;
}

.features{
display:flex;
justify-content:center;
gap:20px;
padding:30px;
}

.card{
background:white;
padding:20px;
width:250px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
border-radius:10px;
}

.form-container{
width:60%;
margin:auto;
background:white;
padding:30px;
margin-top:30px;
border-radius:10px;
}

form{
display:flex;
flex-direction:column;
}

input{
padding:10px;
margin-top:10px;
}

button{
margin-top:20px;
padding:10px;
background:#0096c7;
color:white;
border:none;
}

table{
width:70%;
margin:auto;
border-collapse:collapse;
}

th,td{
border:1px solid black;
padding:10px;
text-align:center;
}
```css
.analysis-container{
width:60%;
margin:auto;
background:white;
padding:30px;
margin-top:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.report-container{
width:60%;
margin:auto;
background:white;
padding:30px;
margin-top:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
font-size:18px;
}

form{
display:flex;
flex-direction:column;
}

input{
padding:10px;
margin-top:10px;
}

button{
margin-top:20px;
padding:12px;
background:#0077b6;
color:white;
border:none;
cursor:pointer;
}
```
